<!DOCTYPE html>
<html>
  <head>
    <title>RailsManualApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" charset="utf-8" src="/teste.js"></script>
  </head>

  <body>
    <%# Passando parâmetros diretamente para o partials _header%>
    <%= render 'layouts/header', topo: 'Olá, bem vindo a minha aplicação' %>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
