<p style="color: green"><%= notice %></p>

<dl>
  <dt>Nome:</dt>
  <dd><%= @pedido.client.nome %></dd>

  <dt>Valor:</dt>
  <dd><%= @pedido.valor_total %></dd>

  <dt>Status:</dt>
  <dd><%= @pedido.status %></dd>
</dl>

<div>
  <%= link_to "Edit this pedido", edit_pedido_path(@pedido) %> |
  <%= link_to "Back to pedidos", pedidos_path %>

  <%= button_to "Destroy this pedido", @pedido, method: :delete %>
</div>
