<div id="<%= dom_id carro %>">
  <p>
    <strong>Nome:</strong>
    <%= carro.nome %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= carro.marca %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= carro.valor %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= carro.quantidade %>
  </p>

</div>
