<div id="<%= dom_id carro %>" >
  <p class="atributo">
    <strong>Nome:</strong>
    <%= carro.nome %>
  </p>

  <p class="atributo">
    <strong>Marca:</strong>
    <%= carro.marca %>
  </p>

  <p class="atributo">
    <strong>Valor:</strong>
    <%= carro.valor %>
  </p>

  <p class="atributo">
    <strong>Quantidade:</strong>
    <%= carro.quantidade %>
  </p>

  <p class="atributo">
    <strong>Ativo:</strong>
    <%= carro.ativo %>
  </p>

</div>
