<h1>Weapons#index</h1>
<p>Find me in app/views/weapons/index.html.erb</p>

<%= @weapons.each do |weapon| %>
  <%= weapon.name %>
  <%= weapon.current_power %>
  <%= weapon.title %>
  <%= link_to 'Show', weapon %>
<% end %>