<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div class="topnav">
    <div>
      <%= link_to 'Carros', carros_path %>
    </div>
    <div>
      <%= link_to 'Marcas', marcas_path %>
    </div>
    <div>
      <%= link_to 'Pedidos', pedidos_path %>
    </div>
    <div>
      <%= link_to 'Clientes', clients_path %>
    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
