<style>
  table {
    border: 1px solid #ccc;
  }
    table tr th {
    border: 1px solid #ccc;
  }

  table tr td {
    border: 1px solid #ccc;
  }
</style>

<fieldset>
  <legend>Cadastro</legend>
    <form action="/produto/incluir" method="post">
    <div>
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome">
    </div>
    <div>
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" name="descricao">
    </div>
    <div>
      <input type="submit" value="Enviar">
    </div>
  </form>
</fieldset>

<table>
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>DESCRIÇÃO</th>
  <tr>
  <% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.id %></td>
    <td><%= produto.nome %></td>
    <td><%= produto.descricao %></td>
    <td><a href="/produtos/<%= produto.id %>/alterar">Alterar</a></td>
    <td><a href="/produtos/<%= produto.id %>/excluir">Excluir</a></td>
  </tr>
  <% end %>
<table>